* {
  font-size: 36px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.app-background {
  background-color: #bee3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  background-color: #ec645b;
  width: 500px;
  height: min-content;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
  position: relative;
}

.title {
  text-align: center;
}

.add-item-box {
  background: #fbc1bb;
  color: #ec645b;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}

.add-item-box svg {
  margin: 5px;
}

.add-item-input {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: #ec645b;
  width: 100%;
  height: 50px;
}

input::placeholder {
  color: #ec645b;
}
input:focus {
  outline: 0;
}

.item-list {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px #fbc1bb solid;
}

.item-name {
  cursor: pointer;
}

.item-name h6 {
  margin: 0px;
}

.item-name small {
  margin: 0px;
  font-size: 15px;
  position: absolute;
}

.item-name svg {
  margin-left: 5px;
  margin-right: 5px;
}

.item-action-buttons {
  /* width: 30%; */
  display: flex;
  justify-content: space-between;
}

.remove-button {
  color: white;
  background-color: red;
}

.footer {
  margin: auto;
  width: 30%;
  padding: 10px;
}

.two-buttons {
  display: flex;
  align-items: center;
  border: 1px solid #ec645b;
  border-radius: 50px;
  font-size: 12px;
  color: #ec645b;
  min-width: 70px;
  justify-content: space-between;
}

.mybutton {
  background: white;
  border: none;
  margin: 3px;
  color: #ec645b;
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 10px;
}

.mybutton:disabled {
  background: #888;
}

.mybutton:focus {
  outline: 0;
}

.mybutton:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.search-box {
  position: absolute;
  top: 12%;
  right: 0;
  transform: translate(-10%, -50%);
  background: #fbc1bb;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box.active > .search-txt {
  width: 215px;
  padding: 0 6px;
}
.search-box.active > .search-btn {
  color: #fbc1bb;
  background: white;
  transition: 0.4s;
}
.search-btn {
  color: white;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fbc1bb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2%;
  margin-right: -2%;
  border: none;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #ec645b;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
